$myOrange: #b7410e;
$myGreen: #cacaaa;
$myWhite: #f5f5f5;
$myGray: #d9d9d9;
$myLightGray: #cccccc;
$myYellow: #eec584;
$myIvoiry: #faebd7;
$myBlue: #55868c;
$myBlack: #231c07;

$headerHeight: 80px;
$mobileDevice: 490px;
$smallDevice: 768px;
$largeDevice: 1000px;
$maxWidth: 1800px;

$padding_bottom_Section: 64px;
$padding_top_Section: 32px;

$gap_vignette_mobile: 56px;
$h2_size_mobile: 2.5rem;

$footerHeight: 150px;
$heightCorpPC: 450px;
$maxHeightPC: 750px;