@use "../../../../app/variables" as variables;

.Contact {
    width: 100%;
    position: relative;
    height: calc(100vh - variables.$footerHeight - variables.$headerHeight);
    max-height: variables.$maxHeightPC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    padding: 32px 0px;

    color: variables.$myBlack;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 400px;
        height: 100%;
        width: 90%;
      

        h2 {
            color: variables.$myBlack;
        }

        .input {
            background-color: white;
            width: 100%;
            padding: 12px;
            border-radius: 6px;
        }

        textarea {
            background-color: white;
            width: 100%;
            height: 80%;
        }

    }

    dialog{
        top: calc(100vh/2 - 150px);
        left: calc(100vw/2 - 114px);
        border-radius: 32px;
        padding: 32px 16px;
        flex-direction: column;
        justify-content: center;

        p{
            width: 100%;
            text-align: center;

            strong{
                color: variables.$myOrange;
            }
        }

        div{
            width: 100%;
            text-align: center;

            button{
                width: 100px;
                margin-top: 16px;
                padding: 8px 0px;
                border-radius: 8px;
            }
        }
        

    }

    button {
        background-color: rgba(variables.$myOrange, 1);
        color: variables.$myWhite;
    }
}
