@use "../../../app/variables" as variables;

.liste_projetsFavoris {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: variables.$padding_bottom_Section;
    background-color: variables.$myWhite;
    gap: 64px;
    max-width: variables.$maxWidth;
    
    .container_vignetteProjet{
      width: 90%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 48px 0px;
      
      @media(max-width: 1000px){
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: variables.$gap_vignette_mobile;
      
      }
    }
   
  }