@use "../../../../app/variables" as variables;

.vignette {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 48%;
  max-width: 800px;

  @media (max-width: 1000px) {
    align-items: flex-start;
    width: 100%;
  }

  @media (max-width: variables.$mobileDevice) {
    flex-direction: column;
  }

  .presentation_projet {
    width: 65%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: variables.$mobileDevice) {
      width: 100%;
    }
  }

  h3 {
    text-align: start;
  }

  p {
    display: block;

    @media (max-width: variables.$mobileDevice) {
      display: none;
    }
  }

  .listeTechno {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    img {
      width: 33px;
      padding-top: 16px;

      @media (max-width: calc(variables.$smallDevice - 100px)) {
        width: 25px;
        padding-top: 0;
      }
    }

    @media (max-width: variables.$mobileDevice) {
      display: none;
    }
  }

  .listeTechno_second_view {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    padding-top: 16px;

    div {
      width: 35px;
    }

    @media (max-width: variables.$mobileDevice) {
      display: flex;
    }
  }

  .image_lien_projet {
    display: flex;
    padding: 4px;
    // // aspect-ratio: 1/1;
    // overflow: hidden;
    opacity: 0.7;
    border-radius: 15px;
    box-shadow: 10px 10px 10px variables.$myLightGray;
    border: solid 0.1px variables.$myLightGray;
    width: 33%;

    @media (max-width: variables.$mobileDevice) {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      object-fit: contain;
      border-radius: 12px;
    }
  }
}
